<div class="title">
    <h1>SVETO PISMO</h1>
</div>
<div class="subtitle">
    <h2>STARI ZAVET</h2>
</div>
<div class="list" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap='row wrap 4%'>
    <app-card-group fxFlex="49" *ngFor="let booksGroup of oldTestemonyBooks" [booksGroup]="booksGroup"></app-card-group>
</div>
<div class="subtitle">
    <h2>NOVI ZAVET</h2>
</div>
<div class="list" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap='row wrap 4%'>
    <app-card-group fxFlex="49" *ngFor="let booksGroup of newTestemonyBooks" [booksGroup]="booksGroup"></app-card-group>
</div>